%% -*- erlang -*-
{erl_opts, [
            {parse_transform, lager_transform},
            debug_info,
            warnings_as_errors
           ]}.

{deps, [
        {ecc508, ".*", {git, "https://github.com/FlyerInk/ecc508", {branch, "master"}}},
        {ecc_compact, ".*", {git, "https://github.com/helium/ecc_compact.git", {branch, "master"}}},
        {clique, ".*", {git, "https://github.com/helium/clique.git", {branch, "develop"}}},
        {erl_base58, "0.0.1"},
        {lager, "3.6.7"}
       ]}.


{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               deprecated_function_calls,
               deprecated_functions
              ]}.

{relx, [
        {release, {gateway_mfr, "0.1.0"}, [gateway_mfr, lager, runtime_tools]},
        {dev_mode, true},
        {generate_start_script, true},
        {extended_start_script, true},
        {extended_start_script_extensions, [
                                            {ecc, "extensions/ecc"}
                                           ]},
        {overlay, [
                   {copy, "scripts/extensions/ecc", "bin/extensions/ecc"},
                   {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
                  ]},
        {dev_mode, true},
        {sys_config, "config/sys.config"}
       ]}.

{profiles, [
            {prod, [
                    {relx, [
                            {sys_config, "config/sys.config"},
                            {dev_mode, false},
                            {include_src, false},
                            {system_libs, false},
                            {include_erts, false}
                           ]}]
            },
            {dev, [
                   {relx, [
                           {overlay, [{copy, "config/sys.config", "config/sys.config"}]},
                           {sys_config, "config/test.config"},
                           {dev_mode, true},
                           {include_erts, true}]}]
            }
           ]}.

{shell, [
         {apps, [ecc508, lager]}
        ]}.
